html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;}

.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  border-radius: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.texto {
  height: 9vh;
}

#cameraFeed {
  padding-left: 0;
  padding-right: 0;
}

.botao {
  height: 16vh;
}

.preview {
  border-radius: 10px;
  height: 75vh;
}